html{
    background-color: #b3ee98;
}
 .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Set default width */
    gap: 30px;
    grid-row-gap: 20px;   
    margin-left: 1.5%;
    margin-right: 1.5%;
    align-items: stretch;
    height: 600px; /* or specify a fixed height for the container */
    align-items: stretch;
}
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    transition: all 0.3s ease; /* Apply transition for smoother resizing */
    height: 500px;
  }
  .large-item {
    width: 500px; /* Applied to the enlarged element */
    grid-column-end: span 2; /* Make it span two columns */
    margin-left: 50px; /* Adjust margin to center the item */
  }
  .inline-div {
    display: inline-block;
  }
a{
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: #ff9900;
} 
.navbar{
    position: fixed;
    width: 100%;
    top:0;

}
img{
    height: 48%;
    width: 90%;
}
h3{
    margin-top: 5%;

}
#Kuća >div{ 
    background-color:  powderblue;
}
#Stan > div{
    background-color:  white;
}
#Poslovni_prostor > div{
    background-color:  green;
}
.lijevo{
    text-align: left;
    margin-left: 5%;
}
.desno{
    text-align: right;
    margin-right: 5%;
}
iframe{
    border: none;
    width: 100%;
    height: 60px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

form.filters input[type=text] {
    padding: 10px;
    font-size: 10px;
    border: 1px solid grey;
    float: left;
    width: 12%;
    background: #f1f1f1;
    margin-right: 10px;
  }
  
  form.filters button {
    float: right;
    width: 30px;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 55%;
  }
  
  form.filters button:hover {
    background: #0b7dda;
  }

  form.filters {
    content: "";
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 4px;
    margin-top: 70px;
  }

form.filters label{
    padding-right: 35px;
    padding-left: 1%;
    background-color: none;
}

span{
    display: inline-block; /* or 'inline' depending on your styling needs */
    margin-left: 5px; /* Adjust the spacing between paragraph and label */
    background-color: #ccc; /* Sample background color for the label */
    padding: 3px 5px; /* Sample padding for the label */
}
  